@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
    background-color: rgb(153, 152, 152)
}

header {
    text-align: center;
    margin-top: 8px;
    font-family: Rowdies;
    font-size: 32px;
}