@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

header {
    background-color: rgb(104, 102, 102);
    text-align: center;
    margin-top: 8px;
    font-family: Rowdies;
    font-size: 32px;
}

#math-tool {
    background-color: rgb(196, 196, 196);
    text-align: center;
}

.row {
    margin-bottom: 8px;
}

#arrow-down {
    display: none;
}

@media (max-width: 767px) {
    #arrow-right {
        display: none;
    }
    #arrow-down {
        display: inline-block;
    }
}

@media (max-width: 570px) {
    .btn {
        font-size: 12px;
    }
}